
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Estadísticas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Estadísticas de préstamos, herramientas, usuarios, etc</li>
</ol>


