
@{
    ViewBag.Title = "Prestamos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Prestamos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Visualiza los prestamos activos y genera reportes de los mismos</li>
</ol>